<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Welcome{% endblock %} | Brainedge</title>
<link rel="icon" href="{{ url_for('.static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='layout.css') }}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('.static', filename='main.js') }}"></script>
{% block head %}{% endblock %}
</head>
<body>
<header>
    <a href="{{ url_for('text.index') }}">
    <img id="logo" src="{{ url_for('.static', filename='logo.svg') }}" alt></a>
    <input id="search" type="search" name="search" size="20" value autofocus>
    {% for message in get_flashed_messages() %}
    <span class="message">{{ message }}</span>
    {% endfor %}
    <ul id="nav">
        <li><a href="#">Feedback</a></li>
        {% if g.user %}
        <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Sign in</a>
        <ul id="drop">
        <li><a href="{{ url_for('auth.login') }}?openid=https://www.google.com/accounts/o8/id">Google</a></li>
        <li><a href="{{ url_for('auth.login') }}">OpenID</a></li>
        </ul>
        </li>
        {% endif %}
    </ul>
</header>
<div id=main role="main">
    {% block body %}{% endblock %}
</div>
<footer>
    © 2010-2011 Cornu
</footer>
</body>
</html>
