/* @white: #EAF2D9; */
body {
  font-family: "Trebuchet MS", "Georgia", serif;
  font-size: 14pt;
  /*     color: @white; */

  /*     background-color: @dark-gray; */

  padding: 0;
  margin: 5px;
  height: 100%;
  width: 100%;
}
a {
  color: #ffcb00;
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  /*     border-bottom: 1px @blue solid; */

  margin: 10px;
  padding: 0;
}
header #logo {
  float: left;
  height: 35px;
}
header input {
  /*         border: 1px solid @gray; */

  border: none;
  margin-left: 20px;
  font-size: 16pt;
  padding: 4px 6px;
  /*         &:focus { outline:none; } */

}
header .message {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcb00;
}
header #nav {
  float: right;
  margin: 0 10px;
  padding: 6px;
}
header #nav li {
  display: inline;
  margin: 0 10px;
}
header #nav li .drop li {
  display: list-style;
}
#main {
  min-height: 600px;
  min-width: 866px;
}
footer {
  /*     border-top: 1px @blue solid; */

  margin-top: 8px;
  padding-top: 5px;
  text-align: center;
  font-size: 9pt;
}
