#edit {
/*     margin-left: 220px; */
/*     float: right; */
    height: 400px;
    width: 100%;
/*    float: left;*/
/*    border : 5px solid #C51300;   
    border-radius : 2px;
    display: none;  */
}

#controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
/*    display: block;   */
}
#controls li{
    display: inline;
    cursor: pointer;
}
#controls img {
    border: 1px solid #FFFFFF;
}
#controls img:hover {
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}
